@import "tailwindcss";

@keyframes move-horizontal {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* Minimal default to keep things clean */
html, body {
    height: 100%;
    overflow-x:hidden;
    -ms-overflow-style: none;  /* IE / Edge */
    scrollbar-width: none;     /* Firefox */
}

/* nur Mobile / Touch-Geräte */
@media (hover: none) and (pointer: coarse) {
    html, body {
        overscroll-behavior-y: none;
        overflow-x:hidden;
    }
}

/* Hide scrollbar but keep scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE */
    scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar {
    display: none;             /* Chrome / Safari */
}