@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@keyframes move-horizontal {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes marquee-right {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
}

/* Minimal default to keep things clean */
html, body {
    height: 100%;
}