# =========================
# Node / Next.js
# =========================
node_modules/
.next/
out/
.turbo/

# locks inside node_modules
node_modules/.package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Environment variables
# =========================
.env
.env.local
.env.*.local

# =========================
# IDEs / Editors
# =========================
.vscode/
*.iml
checkstyle-idea.xml

# =========================
# OS
# =========================
.DS_Store

# =========================
# Local data / databases
# =========================
data/
**/data/
*.mv.db
*.trace.db
